<h1>Litmus to CSV</h1>
<p>Start by selecting which product to migrate</p>
<form action="litmustocsv" method="post">{% csrf_token %}

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.product.errors }}
        <label for="id_product">Product:</label>
        {{ form.product }}
    </div>
    <div class="fieldWrapper">
        {{ form.branch.errors }}
        <label for="id_branch">Branch:</label>
            <select name="branch" id="id_branch">
                {% for b in branches %}
                  <option value="{{ b.branch_id }}" prod_id="{{ b.product_id }}">{{ b.name }}</option>
                {% endfor %}
            </select>
    </div>
    <div class="fieldWrapper">
        {{ form.testgroups.errors }}
        <label for="id_testgroups">Testgroups:</label>
            <select multiple="multiple" name="testgroups" id="id_testgroups">
                {% for tg in testgroups %}
                  <option value="{{ tg.testgroup_id }}" br_id="{{ tg.branch_id }}">{{ tg.name }}</option>
                {% endfor %}
            </select>
    </div>

<input type="submit" value="Get CSV" />

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.js"></script>
<script>
    $(document).ready(function() {

        // store away the options for branches
        window.branch_options = $("#id_branch").children();
        $("#id_branch_dest").html(window.branch_options);
        $("#id_branch").children().remove().end().append('<option selected value="None">Select Product First</option>');

        // store away the options for testgroups
        window.testgroup_options = $("#id_testgroups").children();
        $("#id_testgroups").children().remove().end().append('<option selected value="None">Select Branch First</option>');

        $("#id_product").change(function() {
            var prod_id = $("#id_product").val();
            var options = '<option value="None">--- Select One ---</option>';
            window.branch_options.each(function() {
                if ($(this).attr('prod_id') == prod_id) {
                    options += '<option value="' + $(this).val() + '">' + $(this).text() + '</option>';
                }

            });

            $("#id_branch").html(options);   // populate select box with array

            // now add the change function to the branches drop-down.
            $("#id_branch").change(function() {
                var br_id = $("#id_branch").val();
                var b_opts = '';
                window.testgroup_options.each(function() {
                    if ($(this).attr('br_id') == br_id) {
                        b_opts += '<option value="' + $(this).val() + '">' + $(this).text() + '</option>';
                    }

                });

                $("#id_testgroups").html(b_opts);   // populate select box with array

            });

        });


    });

</script>


